{% extends "base.html" %}

{% block title %}<title>Pokemon</title>{% endblock title %}

{% block content %}
<div class="wrapper">
    <h1 class="heading">Missing Letters</h1>
    <div class="button-bar">
        <a href="/spelling/missing-letters" class="button">No missing letters</a>
        <a href="/spelling/missing-letters?letters=1" class="button">1 missing letter</a>
    </div>
    <div class="spelling-grid">
        {%- for word in words -%}
        <p class="spelling-grid__cell">
            {%- for letter in word -%}
            {%- if letter == "_" -%}
            <span class="missing-letter">{{ letter }}</span>
            {%- else -%}
            <span>{{ letter }}</span>
            {%- endif -%}
            {%- endfor -%}
        </p>
        {%- endfor -%}
    </div>
</div>
{% endblock content %}