{% extends "base.html" %}

{% block title %}<title>Pokemon</title>{% endblock title %}

{% block content %}
    <div class="wrapper">
        <section>
            <h1 class="page-heading">Pokemon</h1>
            <p>Welcome to ESL Pokemon Games. Our goal is to make the most games and the best games for ESl students of all ages to learn about Pokemon. Many of your students will know most of the Pokemon in their own language, so we help them learn the Pokemon's English names while playing games in the classroom. They are guaranteed to go home and annoy their parents with all the new, useful English words they learned today. Enjoy :)</p>
        </section>
        <section>
            <h2 class="section-heading">Who's That Pokemon</h2>
            <p>Test your knowledge of the original 151 Pokemon in this multiple choice Pokemon quiz.</p>
            <a href="/whos-that-pokemon" class="game-link">Play Now</a>
        </section>
        <section>
            <h2 class="section-heading">The Original Pokemon</h2>
            {% if pokemons %}
                <ul class="pokemon-list">
                    {% for pokemon in pokemons %}
                        <li>
                            <span>
                                <img src="{{pokemon.img_path_thumbnail}}"  loading="lazy"/>
                            </span>
                            <span>{{pokemon.name.capitalize()}}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no Pokemon in the database.</p>
            {% endif %}
        </section>
    </div>
{% endblock content %}