{% extends "base.html" %}

{% block title %}<title>Pokemon</title>{% endblock title %}

{% block content %}
<div class="wrapper">
    <h1 class="heading">Make your new spelling list</h1>
    <form action="/spelling/lists" method="POST">
        <div class="input-group">
            <label class="label" for="list_name">List name</label>
            <input type="text" id="list_name" name="list_name" class="input"/>
        </div>
        <div>
            <span class="label">Words</span>
            <div class="multi-input-group">
                <input type="text" name="words" class="input"/>
                <input type="text" name="words" class="input"/>
                <input type="text" name="words" class="input"/>
                <input type="text" name="words" class="input"/>
                <input type="text" name="words" class="input"/>
                <input type="text" name="words" class="input"/>
            </div>
        </div>
        <button type="submit" class="form-btn">Save</button>
    </form>
</div>
{% endblock content %}