<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Root</title>{% endblock title %}
    <script src="/src/static/js/vendor/htmx-2.0.4.min.js" defer></script>
    <link href="/src/static/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/styles.css">
</head>
<body>
    <header>
        <div class="header__wrapper">
            <span><a href="/">ESL Games</a></span>
            <nav>
                <ul class="nav__list">
                    <li><a href="/pokemon">Pokemon</a></li>
                    <li><a href="/halloween">Halloween</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>
