<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Root</title>{% endblock title %}
    <script src="/src/static/js/vendor/htmx-2.0.4.min.js" defer></script>
    <link href="/src/static/output.css" rel="stylesheet">
</head>
<body class="min-h-screen overflow-y-scroll">
    <header class="max-w-[800px] mx-auto px-2">
        <span class="text-xl uppercase">Pokemon Games</span>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>
