{% extends "base.html" %}

{% block title %}<title>Pokemon</title>{% endblock title %}

{% block content %}
    <div class="wrapper">
        <section>
            <h1 class="page-heading">ESL Games</h1>
            <p>Welcome top ESL Games. Choose a topic below and learn something new today.</p>
            <nav>
                <ul>
                    <li>
                        <a href="/pokemon">
                            <img 
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png"
                                width="300px"
                                height="150px"
                                />
                        </a>
                    </li>
                    <li>
                        <a href="/halloween">
                            <img 
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFl-xbSrY1e97p_CmYPf_WLUXoY4FMgL1qyw&s"
                                width="300px"
                                height="150px"
                                />
                        </a>
                    </li>
                    <li>
                        <a href="/christmas">
                            <img 
                                src="https://img.freepik.com/free-vector/merry-christmas-typography-design-with-snowflakes_1308-90097.jpg?semt=ais_hybrid&w=740&q=80"
                                alt="Christmas"
                                width="300px"
                                height="150px"
                                />
                        </a>
                    </li>
                    <li><a href="/spelling" style="font-size: 4rem;">Spelling</a></li>
                </ul>
            </nav>
        </section>
    </div>
{% endblock content %}