@view-transition {
    navigation: auto;
}

body {
    min-height: 100vh;
    overflow-y: scroll;
}

main {
    padding-bottom: 48px;
}

h2 {
    font-size: 1.5rem;
}

{{/* Utility styles */}}

.wrapper {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 8px;
}

{{/* Header styles */}}

header {
    position: sticky;
    top: 0;
    left: 0;
    height: 48px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    background-color: rgb(255,224,31);
}

.header__wrapper {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-inline: 8px;

    span {
        font-size: 20px;
        text-transform: uppercase;
    }
}

.nav__list {
    display: flex;
    gap: 1rem;
}

.game__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .game__link {
        display: inline-block;
        font-size: 20px;
        text-decoration: underline;
    }
}

.monster-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    .list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid, black, 1px;
        border-radius: 0.5rem;
        text-align: center;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.large {
    height: 400px;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.form-item {
    display: grid;
}

form {
    .error {
        min-height: 24px;
        color: red;
        text-align: right;
    }
}

.carousel {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100%;
}

.slide {
    flex: none;
    height: 500px;
    scroll-snap-align: start;
    width: min(800px, 100%);
}

.slide-name {
    font-size: 3rem;
    text-align: center;
    overflow-x: auto;
    text-wrap: nowrap;
}

.see-say-name {
    font-size: 3rem;
    text-align: center;
    overflow-x: auto;
    text-wrap: nowrap;
    margin-bottom: 1rem;
}

.btn-container {
    text-align: center;
}

.next-btn {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.next-btn:hover {
    background-color: darkblue;
}

.next-btn:active {
    background-color: midnightblue;
}

{{/* Christmas Styles */}}

.christmas__heading {
    font-size: 2rem;
}


{{/* Spelling Styles */}}

.heading {
    font-size: 2rem;
}

.button-bar {
    margin-bottom: 1rem;
}

.button {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 1rem;
    border-radius: 0.25rem;
}

.spelling-grid {
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fill,
            minmax(300px, 1fr)
        );
    gap: 1rem;
    font-size: clamp(2.5rem, 4vw, 4rem);
    letter-spacing: 2px;
}

.spelling-grid__cell {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    text-align: center;
}

.missing-letter {
    color: red;
}

.input-group {
    display: grid;
    margin-bottom: 1rem;
}

.label {
    font-weight: 600;
}

.input {
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.form-btn {
    background-color: blue;
    color: white;
    display: inline-block;
    padding: 0.5rem;
    min-width: 100px;
    border-radius: 0.25rem;
}