@view-transition {
    navigation: auto;
}

h2 {
    font-size: 1.5rem;
}

.monster-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    .list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1rem;
        border: solid, black, 1px;
        border-radius: 0.5rem;
        text-align: center;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.large {
    height: 400px;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.form-item {
    display: grid;
}

form {
    .error {
        min-height: 24px;
        color: red;
        text-align: right;
    }
}

.carousel {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100%;

    p {
        font-size: 4rem;
        text-align: center;
    }
}

.slide {
    flex: none;
    height: 500px;
    scroll-snap-align: start;
    width: min(800px, 100%);
}