{% extends "base.html" %}

{% block title %}<title>Halloween Monsters | Teach</title>{% endblock title %}

{% block content %}
    <div class="max-w-[800px] mx-auto px-2">
        <section class="mb-4">
            {% if monster %}
            <div class="image-container large">
                <img src="{{monster.large_img_path}}" />
            </div>
            <p class="see-say-name">{{monster.name.capitalize()}}</p>
            <div class="btn-container">
                <a href="/halloween/monsters/see-and-say?monster={{next_monster.name}}" autofocus="true" class="next-btn">Next Monster</a>
            </div>
            {% else %}
            <p>No monster to see. Check the database.</p>
            {% endif %}
        </section>
    </div>
{% endblock content %}
